node_modules
# Keep environment variables out of version control
.env

/generated/prisma

# Database file lokal, jangan ikut ke-commit
dev.db

# Foto hasil upload testing, jangan ikut ke-commit
uploads/*